modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
JWT_SECRET = "2e9f572507ffd029b9bcc79062ef7f99763dd9fd973b0b2609405154133a6720"
SUPABASE_DATABASE_URL = "postgresql://postgres.jdsqfnjuorueojrroqib:AYzel%402010123@aws-1-us-east-1.pooler.supabase.com:6543/postgres"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd QuackAPI && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5556
externalPort = 3000

[deployment]
deploymentTarget = "vm"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
