modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
JWT_SECRET = "2e9f572507ffd029b9bcc79062ef7f99763dd9fd973b0b2609405154133a6720"
SUPABASE_DATABASE_URL = "postgresql://postgres.jdsqfnjuorueojrroqib:AYzel%402010123@aws-1-us-east-1.pooler.supabase.com:6543/postgres"
SMTP_HOST = "mail.spacemail.com"
SMTP_PORT = "465"
SMTP_USER = "notification@quackapi.com"
SMTP_SECURE = "true"
NOTIFICATION_EMAIL = "sarim.naeem2010@gmail.com"
PAYPAL_MODE = "sandbox"
PAYPAL_SANDBOX_CLIENT_ID = "AfYvzCU0raFhovIM43dOey3txoSTtv5nb8AfBBV17W6j_vcX9YEAkDOjRe-fwSDNkbrD5hw7g7C7XeHj"
PAYPAL_LIVE_CLIENT_ID = "AXmQriRLkO_EconhM_MMfHYmqxg_xJb-BtuaVnkU6SmeJ9gKpjw_SGBBIGleLy30sbOTgXfiuMHHlO0q"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Auto Git Push"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd QuackAPI && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Auto Git Push"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run auto-push"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5556
externalPort = 3000

[deployment]
deploymentTarget = "vm"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
